<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1097904581864-jps5ko3grvout9tt26i6ep4f118d1l9v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097904581864-jps5ko3grvout9tt26i6ep4f118d1l9v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1097904581864-7r8av5mqivu6841ejnnm3hck45q55in4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCctOKxN0skJyNPZ5NumFVCao5Nc9p9tmg</string>
	<key>GCM_SENDER_ID</key>
	<string>1097904581864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apsolusi.ess</string>
	<key>PROJECT_ID</key>
	<string>ess-aps-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>ess-aps-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097904581864:ios:969f5ccbc04a42d0cc2d5d</string>
	<key>DATABASE_URL</key>
	<string>https://ess-aps-ios.firebaseio.com</string>
</dict>
</plist>